
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--twitter og-->
    <meta name="twitter:site" content="@themetags">
    <meta name="twitter:creator" content="@themetags">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Dataevol - Creative SAAS Technology & IT Solutions Bootstrap 5 HTML Template">
    <meta name="twitter:description" content="Dataevol creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="Dataevol - Creative SAAS Technology & IT Solutions Bootstrap 5 HTML Template">
    <meta property="og:description" content="Dataevol creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!--meta-->
    <meta name="description" content="Dataevol creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta name="author" content="ThemeTags">

    <!--favicon icon-->
    <link rel="icon" href="/img/company/LogoICon.png" type="image/png" sizes="16x16">

    <!--title-->
    <title>Career - Software & IT Solutions HTML Template</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    <!-- Font -->

    <!--build:css-->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!--custom css start-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--custom css end-->

</head>

<body>

    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
        <div class="preloader-wrap">
            <img src="/img/company/LogoICon.png" alt="logo" class="img-fluid preloader-icon">
            <div class="loading-bar"></div>
        </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--header section start-->
        
        <%- include("header_white") %> 
        
        <!--header section end-->

        <!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container" style="padding-top: 100px;">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-5 fw-bold">Career</h1>
                        <p class="lead">Seamlessly actualize client-based users after out-of-the-box value. Globally embrace strategic data through frictionless expertise.</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->

        <!--open jobs section start-->
        <section id="open-positions" class="open-jobs ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">Our Jobs</h4>
                            <h2>Current Available Positions at Dataevol</h2>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <p>Phosfluorescently disintermediate revolutionary paradigms before enabled interfaces. Dynamically transition skills vis-a-vis virtual customer service via impactful partnerships with technically sound paradigms with cutting-edge initiatives. </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <a href="/apply?position=SQL%20Developer&exp=1-2%20Years" class="text-decoration-none mt-4 mt-xl-0 mt-lg-0 single-open-job p-5 bg-dark text-white d-block rounded-custom">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="job-time h-6 mb-2"><i class="fas fa-briefcase me-2"></i> <strong>Onsite - Full Time</strong></span>
                                <span class="badge px-3 py-2 bg-custom-light rounded-pill small">Developer</span>
                            </div>
                            <h3 class="h5">SQL Developer</h3>
                            <ul class="job-info-list list-inline list-unstyled text-muted">
                                <li class="list-inline-item"><span class="fas fa-house me-1"></span> Dataevol</li>
                                <li class="list-inline-item"><span class="fas fa-location-pin me-1"></span> Ahmedabad, IN</li>
                                <li class="list-inline-item"><span class="fas fa-wallet me-1"></span> Experience: 1-2 Years</li>
                            </ul>
                            <div class="btn btn-outline-light btn-sm d-inline-block mt-4">Apply Now</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <a href="/apply?position=Python%20Developer&exp=1%20Year" class="text-decoration-none mt-4 mt-xl-0 mt-lg-0 single-open-job p-5 bg-dark text-white d-block rounded-custom">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="job-time h-6 mb-2"><i class="fas fa-briefcase me-2"></i> <strong>Remote - Full Time</strong></span>
                                <span class="badge px-3 py-2 bg-custom-light rounded-pill small">Developer</span>
                            </div>
                            <h3 class="h5">Python Developer</h3>
                            <ul class="job-info-list list-inline list-unstyled text-muted">
                                <li class="list-inline-item"><span class="fas fa-house me-1"></span> Dataevol</li>
                                <li class="list-inline-item"><span class="fas fa-location-pin me-1"></span> Remote</li>
                                <li class="list-inline-item"><span class="fas fa-wallet me-1"></span> Experience: 1 Year</li>
                            </ul>
                            <div class="btn btn-outline-light btn-sm d-inline-block mt-4">Apply Now</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <a href="/apply?position=ASP.NET%20Developer&exp=2%20Years" class="text-decoration-none mt-4 single-open-job p-5 bg-dark text-white d-block rounded-custom">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="job-time h-6 mb-2"><i class="fas fa-briefcase me-2"></i> <strong>Onsite - Full Time</strong></span>
                                <span class="badge px-3 py-2 bg-custom-light rounded-pill small">Developer</span>
                            </div>
                            <h3 class="h5">ASP.NET Developer</h3>
                            <ul class="job-info-list list-inline list-unstyled text-muted">
                                <li class="list-inline-item"><span class="fas fa-house me-1"></span> Dataevol</li>
                                <li class="list-inline-item"><span class="fas fa-location-pin me-1"></span> Ahmedabad, IN</li>
                                <li class="list-inline-item"><span class="fas fa-wallet me-1"></span> Experience: 2 Years</li>
                            </ul>
                            <div class="btn btn-outline-light btn-sm d-inline-block mt-4">Apply Now</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <a href="/apply?position=Azure%20Cloud%20Engineer&exp=2%20Years" class="text-decoration-none mt-4 single-open-job p-5 bg-dark text-white d-block rounded-custom">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="job-time h-6 mb-2"><i class="fas fa-briefcase me-2"></i> <strong>Hybrid - Full Time</strong></span>
                                <span class="badge px-3 py-2 bg-custom-light rounded-pill small">Cloud</span>
                            </div>
                            <h3 class="h5">Azure Cloud Engineer</h3>
                            <ul class="job-info-list list-inline list-unstyled text-muted">
                                <li class="list-inline-item"><span class="fas fa-house me-1"></span> Dataevol</li>
                                <li class="list-inline-item"><span class="fas fa-location-pin me-1"></span> Ahmedabad / Remote</li>
                                <li class="list-inline-item"><span class="fas fa-wallet me-1"></span> Experience: 2 Years</li>
                            </ul>
                            <div class="btn btn-outline-light btn-sm d-inline-block mt-4">Apply Now</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--open jobs section end-->

        <!--career promo start-->
        <section class="career-promo ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Why Join Us</h4>
                            <h2>Great Working Environment</h2>
                            <p>Revolutionary paradigms before enabled interfaces dynamically transition technically sound paradigms with cutting-edge initiatives. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-0 p-5 bg-white rounded-custom">
                            <span class="fas fa-house-user fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Remote Working Facilities</h5>
                                <p class="mb-0">Credibly syndicate enterprise total linkage whereas cost effective innovate state of the art data without multifunctional. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 mt-xl-0 mt-lg-0 mt-md-0 p-5 bg-white rounded-custom">
                            <span class="fas fa-clock fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Flexible Working Hours</h5>
                                <p class="mb-0">Credibly syndicate enterprise total linkage whereas cost effective innovate state of the art data without multifunctional. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                            <span class="fas fa-user-friends fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Friendly Skilled Team</h5>
                                <p class="mb-0">Credibly syndicate enterprise total linkage whereas cost effective innovate state of the art data without multifunctional. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                            <span class="fas fa-briefcase-medical fa-2x text-primary"></span>
                            <div class="ms-4 mt-2">
                                <h5>Medical Insurance Facilities</h5>
                                <p class="mb-0">Credibly syndicate enterprise total linkage whereas cost effective innovate state of the art data without multifunctional. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--career promo end-->


        <!--cat subscribe start-->

        <!--cat subscribe end-->


        <!--footer section start-->

        <%- include("footer") %>

        <!--footer section end-->

    </div>

    <!--build:js-->
    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/swiper-bundle.min.js"></script>
    <script src="/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="/js/vendors/parallax.min.js"></script>
    <script src="/js/vendors/aos.js"></script>
    <script src="/js/vendors/massonry.min.js"></script>
    <script src="/js/dropdown-fix.js"></script>
    <script src="/js/app.js"></script>
    <!--endbuild-->
</body>

</html>