<footer class="footer-section">
    <!--footer top start-->
    <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
    <div class="footer-top  bg-gradient text-white" style="background: url('/img/page-header-bg.svg')no-repeat bottom right; padding: 35px 0 25px 0;">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
                    <div class="footer-single-col">
                        <div class="footer-single-col mb-2">
                            <img src="/img/logo-white.png" alt="logo" class="img-fluid logo-white">
                            <img src="/img/logo-color.png" alt="logo" class="img-fluid logo-color">
                        </div>
                    </div>
                    <div class="footer-single-col" style="padding-top: 15px;">
                        <h3>Visit Us On</h3>
                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                            <li><i class="fas fa-map-marker-alt me-2"></i>510, The Emporio Mall, Opp. 4D Square Mall, Visat</li>
                            <li>Sarkhej - Gandhinagar Hwy</li>
                            <li>Kalpana Nagar, Nigam Nagar</li>
                            <li>Motera, Ahmedabad, Gujarat 380005</li>
                        </ul>
                    </div>
                    

                </div>
                <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Primary Pages</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="/" class="text-decoration-none">Home</a></li>
                                    <li><a href="/aboutus" class="text-decoration-none">About Us</a></li>
                                    <li><a href="/services" class="text-decoration-none">Services</a></li>
                                    <li><a href="/industry" class="text-decoration-none">Industry</a></li>
                                    <li><a href="/career" class="text-decoration-none">Career</a></li>
                                    <li><a href="/blog" class="text-decoration-none">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Our Services</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="/#pills-home" class="text-decoration-none">Database Development</a></li>
                                    <li><a href="/#pills-web" class="text-decoration-none">Web Development</a></li>
                                    <li><a href="/#pills-moapp" class="text-decoration-none">Mobile App. Development</a></li>
                                    <li><a href="/#pills-uiux" class="text-decoration-none">UI/UX Development</a></li>
                                    <li><a href="/#pills-cloud" class="text-decoration-none">Cloud Development</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Sales Inquiry</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li>
                                        <a href="mailto:connect@dataevol.net" class="text-decoration-none">
                                            <i class="fas fa-envelope me-2"></i>connect@dataevol.net
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:+918487087807" class="text-decoration-none">
                                            <i class="fas fa-phone-alt me-2"></i>+91 84870 87807
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer top end-->
    <!--footer bottom start-->
    <div class="footer-bottom  bg-gradient text-white py-2">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-12 col-lg-12">
                    <div class="copyright-text">
                        <p class="mb-lg-0 mb-md-0">&copy; 2025 DataEvol Rights Reserved. Designed By <a href="https://www.dataevol.net/" class="text-decoration-none">DataEvol</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer bottom end-->
</footer>