<footer class="footer-section">
    <!--footer top start-->
    <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
    <div class="footer-top  bg-gradient text-white ptb-120" style="background: url('/img/page-header-bg.svg')no-repeat bottom right">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
                    <div class="footer-single-col">
                        <div class="footer-single-col mb-4">
                            <img src="/img/logo-white.png" alt="logo" class="img-fluid logo-white">
                            <img src="/img/logo-color.png" alt="logo" class="img-fluid logo-color">
                        </div>
                        <div class="ratting-wrap mt-4">
                            <h6 class="mb-0">5/5 Overall rating</h6>
                            <ul class="list-unstyled rating-list list-inline mb-0">
                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-single-col" style="padding-top: 50px;">
                        <h3>Visit Us On</h3>
                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                            <li>510, Opp. 4D Square Mall, Visat</li>
                            <li>Sarkhej - Gandhinagar Hwy</li>
                            <li>Kalpana Nagar, Nigam Nagar</li>
                            <li>Motera, Ahmedabad, Gujarat 380005</li>
                        </ul>
                    </div>
                    

                </div>
                <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Primary Pages</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="/" class="text-decoration-none">Home</a></li>
                                    <li><a href="/aboutus" class="text-decoration-none">About Us</a></li>
                                    <li><a href="/lan?lan=sqlserver" class="text-decoration-none">Services</a></li>
                                    <li><a href="/career" class="text-decoration-none">Career</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Our Services</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a class="text-decoration-none">Database Development</a></li>
                                </ul>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a class="text-decoration-none">Web Development</a></li>
                                </ul>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a class="text-decoration-none">Mobile App. Development</a></li>
                                </ul>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a class="text-decoration-none">UI/UX Development</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Sales Inquiry</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="mailto:connect@dataevol.net" class="text-decoration-none">connect@dataevol.net</a></li>
                                </ul>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="tel:+918487087807" class="text-decoration-none">+91 84870 87807</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer top end-->
    <!--footer bottom start-->
    <div class="footer-bottom  bg-gradient text-white py-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="copyright-text">
                        <p class="mb-lg-0 mb-md-0">&copy; 2021 DataEvol Rights Reserved. Designed By <a href="https://www.dataevol.net/" class="text-decoration-none">DataEvol</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="footer-single-col text-start text-lg-end text-md-end">
                        <ul class="list-unstyled list-inline footer-social-list mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer bottom end-->
</footer>