<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Simple Node.js Project</title>
<!-- Add the Font Awesome CSS link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!-- Mobile Responsive CSS -->
<link rel="stylesheet" href="/css/mobile-responsive.css">




<header class="main-header position-absolute w-100">
    <nav class="navbar navbar-expand-xl navbar-light sticky-header">
        <div class="container d-flex align-items-center justify-content-lg-between position-relative">
            <a href="/" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none img-fluid logo-color">
                <img src="/img/logo-white.png" alt="logo" class="img-fluid logo-white" width="270" />
                <img src="/img/Logo 2.png" alt="logo" class="img-fluid logo-color" width="270" />
            </a>
            <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop" role="button"
               data-bs-toggle="offcanvas"
               data-bs-target="#offcanvasWithBackdrop"
               aria-controls="offcanvasWithBackdrop">
                <i class="fas fa-bars menu-icon-open"></i>
                <i class="fas fa-times menu-icon-close"></i>
            </a>
            <div class="clearfix"></div>
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/aboutus" class="nav-link">About us</a></li>
                    <li class="nav-item dropdown position-static d-flex align-items-center">
                        <a class="nav-link" href="/services">Services</a>
                        <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle Services" style="margin-left: 0;"></a>
                        <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                            <div class="dropdown-grid rounded-custom width-full-services">
                                <div class="dropdown-grid-item bg-light-subtle radius-left-side">
                                    <h6 class="drop-heading">Database Development</h6>
                                    <a href="/lan?lan=sqlserver" class="dropdown-link">
                                        <img src="/img/slide_img/MsSqlServer.png" alt="SQL Server" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">SQL Server</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=mysql" class="dropdown-link">
                                        <img src="/img/slide_img/MySQL.png" alt="MySQL" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">My SQL</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=mongodb" class="dropdown-link">
                                        <img src="/img/slide_img/MongoDB.png" alt="MongoDB" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Mongo DB</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=postgresql" class="dropdown-link">
                                        <img src="/img/slide_img/PostgreSQL.png" alt="PostgreSQL" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Postegre SQL</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=powerbi" class="dropdown-link">
                                        <img src="/img/slide_img/PowerBI.png" alt="Power BI" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Power Bi</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=ssrs" class="dropdown-link">
                                        <img src="/img/slide_img/SSRS.png" alt="SSRS" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">SSRS</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=ssis" class="dropdown-link">
                                        <img src="/img/slide_img/SSIS.png" alt="SSIS" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">SSIS</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-grid-item  bg-light-subtle">
                                    <h6 class="drop-heading">Web Development</h6>
                                    <a href="/lan?lan=aspdotnet" class="dropdown-link">
                                        <img src="/img/slide_img/AspDotNet.png" alt="ASP.NET" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">ASP.net</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=aspdotnetcore" class="dropdown-link">
                                        <img src="/img/slide_img/DotNetCore.png" alt=".NET Core" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">.Net Core</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=angular" class="dropdown-link">
                                        <img src="/img/slide_img/AngularJs.png" alt="Angular" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Angular</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=node" class="dropdown-link">
                                        <img src="/img/slide_img/NodeJs.png" alt="Node.js" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Node</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=magento" class="dropdown-link">
                                        <img src="/img/slide_img/Magento.png" alt="Magento" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Magento</div>
                                        </div> 
                                    </a>
                                    <a href="/lan?lan=wordpress" class="dropdown-link">
                                        <img src="/img/slide_img/Wordpress.png" alt="WordPress" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Wordpress</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=ecommerce" class="dropdown-link">
                                        <img src="/img/slide_img/eCommerce.png" alt="eCommerce" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">eCommerce</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=python" class="dropdown-link">
                                        <img src="/img/python.png" alt="Python" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Python</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=java" class="dropdown-link">
                                        <img src="/img/slide_img/Java.png" alt="Java" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Java</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=php" class="dropdown-link">
                                        <img src="/img/slide_img/PHP.png" alt="PHP" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">PHP</div>
                                        </div>
                                    </a>
                                </div>
                                    
                                <div class="dropdown-grid-item radius-right-side bg-light-subtle">
                                    <h6 class="drop-heading">Mobile App Dev.</h6>
                                    <a href="/lan?lan=android" class="dropdown-link">
                                        <img src="/img/slide_img/Android.png" alt="Android" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Android</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=ios" class="dropdown-link">
                                        <img src="/img/slide_img/ios.png" alt="iOS" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">IOS</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=ionic" class="dropdown-link">
                                        <img src="/img/slide_img/Ionic.png" alt="Ionic" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Ionic</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=xamarin" class="dropdown-link">
                                        <img src="/img/slide_img/Xamarin.png" alt="Xamarin" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Xamarin</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=react" class="dropdown-link">
                                        <img src="/img/slide_img/ReactNative.png" alt="React" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">React</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=kotlin" class="dropdown-link">
                                        <img src="/img/slide_img/Kotlin.png" alt="Kotlin" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Kotlin</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=flutter" class="dropdown-link">
                                        <img src="/img/slide_img/Flutter.png" alt="Flutter" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Flutter</div>
                                        </div>
                                    </a>
                                </div> 
                                <div class="dropdown-grid-item bg-light-subtle">
                                    <h6 class="drop-heading">UI/UX Design</h6>
                                    <a href="/lan?lan=uxui" class="dropdown-link">
                                        <img src="/img/slide_img/UxUi.png" alt="UI/UX" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">UI/UX</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=frontend" class="dropdown-link">
                                        <img src="/img/slide_img/FrontEnd.png" alt="FrontEnd" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">FrontEnd</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=responsiveweb" class="dropdown-link">
                                        <img src="/img/slide_img/ResponsiveWebDesign.png" alt="Responsive Web" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Responsiv Web</div>
                                        </div>
                                    </a>
                               
                                </div>
                                <div class="dropdown-grid-item bg-light-subtle">
                                    <h6 class="drop-heading">Cloud Development</h6>
                                    <a href="/lan?lan=azure" class="dropdown-link">
                                        <img src="/img/Azure.png" alt="Azure" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Azure</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=aws" class="dropdown-link">
                                        <img src="/img/AWS.png" alt="AWS" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">AWS</div>
                                        </div>
                                    </a>
                                    <a href="/lan?lan=googlecloud" class="dropdown-link">
                                        <img src="/img/goog.png" alt="Google Cloud" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Google Cloud</div>
                                        </div>
                                    </a>
                               
                                </div>                               
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle Industry">Industry</a>
                        <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                            <div class="dropdown-grid rounded-custom width-full-2">
                                <div class="dropdown-grid-item bg-light-subtle radius-left-side">
                                    <h6 class="drop-heading">Industries We Serve</h6>
                                    <a href="/industry/finance" class="dropdown-link">
                                        <img src="/img/Industry/finance.png" alt="Finance" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Finance Industry</div>
                                            <p>Banking & Financial Solutions</p>
                                        </div>
                                    </a>
                                    <a href="/industry/healthcare" class="dropdown-link">
                                        <img src="/img/Industry/healthcare.png" alt="Healthcare" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Healthcare Industry</div>
                                            <p>Transforming Health Tech</p>
                                        </div>
                                    </a>
                                    <a href="/industry/logistics" class="dropdown-link">
                                        <img src="/img/Industry/Logistic.png" alt="Logistics" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Logistics Industry</div>
                                            <p>Streamlining Supply Chains</p>
                                        </div>
                                    </a>
                                    <a href="/industry/travel" class="dropdown-link">
                                        <img src="/img/Industry/Travel%26Hospitilaity.png" alt="Travel & Hospitality" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Travel & Hospitality</div>
                                            <p>Enhancing Travel Experiences</p>
                                        </div>
                                    </a>
                                    <a href="/industry/realestate" class="dropdown-link">
                                        <img src="/img/Industry/Realestate.png" alt="Real Estate" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Real Estate Industry</div>
                                            <p>Property Management Solutions</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-grid-item bg-light-subtle radius-right-side">
                                    <h6 class="drop-heading">Digital Solutions</h6>
                                    <a href="/industry/fooddelivery" class="dropdown-link">
                                        <img src="/img/Industry/Fooddelevary.png" alt="Food Delivery" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">Food Delivery</div>
                                            <p>Restaurant & Delivery Apps</p>
                                        </div>
                                    </a>
                                    <a href="/industry/ecommerce" class="dropdown-link">
                                        <img src="/img/Industry/Ecommrace.png" alt="E-Commerce" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">E-Commerce</div>
                                            <p>Online Retail Solutions</p>
                                        </div>
                                    </a>
                                    <a href="/industry/bidevelopment" class="dropdown-link">
                                        <img src="/img/Industry/Bi%20development.png" alt="BI Development" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">BI Development</div>
                                            <p>Business Intelligence & Analytics</p>
                                        </div>
                                    </a>
                                    <a href="/industry/ondemand" class="dropdown-link">
                                        <img src="/img/Industry/Ondemand.png" alt="On-Demand Services" class="demo-list" style="width: 32px; height: 32px; object-fit: contain;">
                                        <div class="dropdown-info">
                                            <div class="drop-title">On-Demand Services</div>
                                            <p>App-Based Service Solutions</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a href="/career" class="nav-link">Careers</a></li>
                </ul>
            </div>
            <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                <a href="/contactus" class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </nav>
    <!--offcanvas menu start-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
        <div class="offcanvas-header d-flex align-items-center">
            <a href="/" class="d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="/img/Logo 2.png" alt="logo" class="img-fluid ps-2" />
            </a>
            <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/aboutus" class="nav-link">About Us</a></li>
                <li><a href="/services" class="nav-link">Services</a></li>
                <li><a href="/industry" class="nav-link">Industry</a></li>
                <li><a href="/career" class="nav-link">Career</a></li>
                <li><a href="/contactus" class="nav-link">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <!--offcanvas menu end-->
</header>