<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--twitter og-->
    <meta name="twitter:site" content="@themetags">
    <meta name="twitter:creator" content="@themetags">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Quiety - Creative SAAS Technology & IT Solutions Bootstrap 5 HTML Template">
    <meta name="twitter:description" content="Quiety creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="Quiety - Creative SAAS Technology & IT Solutions Bootstrap 5 HTML Template">
    <meta property="og:description" content="Quiety creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!--meta-->
    <meta name="description" content="Quiety creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta name="author" content="ThemeTags">

    <!--favicon icon-->
    <link rel="icon" href="/img/Icon.png" type="image/png" sizes="16x16">

    <!--title-->
    <title>Dataevol - Software & IT Solutions</title>

    <!--build:css-->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <!--custom css start-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--custom css end-->

</head>

<body>

    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
        <div class="preloader-wrap">
            <img src="/img/favicon.png" alt="logo" class="img-fluid preloader-icon">
            <div class="loading-bar"></div>
        </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">
        <!--header section start-->
        <!--header start-->


        <%- include('header') %>

        <!--header end-->
        <!--header section end-->
        <!--hero section start-->
        <section class="hero-it-solution hero-nine-bg ptb-120" style="background: url('/img/hero-9-img.png')no-repeat center center;padding:60px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                            <h1 class="fw-bold display-5">Seamless Solutions, Infinite Innovation: Crafting Tomorrow's Technology Today.</h1>
                            <p class="lead">
                                Fueling Progress with Intelligent Code: Elevate your business with our IT expertise. From concept to execution, we're your dedicated partner in shaping digital success.
                            </p>
                            <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                                <!-- <a href="/contactus" class="btn btn-primary me-3">KNOW MORE  </a> -->
                                <a href="/contactus" class="btn btn-primary me-3">GET IN TOUCH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img position-relative mt-5 mt-lg-0">
                            <img src="/img/banner_image.png" alt="hero hero-it-solution " class="img-fluid" />
                            <div class="dots">
                                <img src="/img/banner_dot.png" alt="dot" class="dot-1" />
                                <img src="/img/banner_dot.png" alt="dot" class="dot-2" />
                            </div>
                            <div class="bubble">
                                <span class="bubble-1"></span>
                                <span class="bubble-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--hero section end-->
        <!-- About Start -->
        <section class="ptb-120" style="padding:60px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-left text-lg-center mb-32 mb-lg-0">
                            <img src="/img/about.jpg" alt="" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right">
                            <h4 class="text-primary h5 mb-3">Why Choose Us</h4>
                            <h3 class="mb-4">
                                <!--DataEvol: Elevating Your Digital Future with Innovative IT Solutions.-->
                                Our comprehensive software solutions offer a single destination for all of your technological needs.
                            </h3>
                            <h6>
                                Dataevol Technologies has amassed 5 successful years of experience in offering software development services.
                            </h6>
                            <p></p>
                            <p>
                                We are leading programming improvement organization which serves to understands your business necessity into outwardly staggering and practically powerful database development,web application and Mobile applications.
                            </p>
                            <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
                                <li class="py-1">
                                    <div class="d-flex about-icon-box align-items-center">
                                        <div class="me-3">
                                            <img src="/img/pie-chart.png" alt="" />
                                        </div>
                                        <div>
                                            <h5>Expert around the world</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <div class="d-flex about-icon-box align-items-center">
                                        <div class="me-3">
                                            <img src="/img/team.png" alt="" />
                                        </div>
                                        <div>
                                            <h5>Best Practice For Business</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
                                <li class="py-1">

                                    <i class="fas fa-check-circle me-2 text-primary"></i>Data and Analytics
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Cloud
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Digital Transformaion
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Application Development
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Automation
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Core & App Modernization
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Enterprise Application Development
                                </li>
                                <li class="py-1">
                                    <i class="fas fa-check-circle me-2 text-primary"></i>Mobile Application Development
                                </li>

                            </ul>
                            <a href="/aboutus" class="link-with-icon text-decoration-none mt-3 btn btn-primary">
                                KNOW MORE
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->
        <!-- tech tabs start -->
        <section class="ptb-120 bg-light-subtle" style="padding-top:35px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="text-center">
                            <h2>DataEvol Offers</h2>
                            <p>
                                We provide adaptable business solutions employing inventive tools and sophisticated methodologies to assist enterprises in attaining success.
                                <!-- Develop high-quality concepts with credibility, rather than focusing on web-readiness for stand-alone strategic areas that combine both physical and digital components. -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="service-tabs">
                            <ul class="nav nav-pills d-flex justify-content-center" style="font-size: 18%; border-bottom: 1px solid #b0b0b0;
                            margin-bottom: -1px;" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation" style="margin: 0px 45px;">
                                    <button class="nav-link active me-4" id="pills-sql-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                        <i class="fa-solid fa-database" style="color: #737373;"></i>
                                        <span style="color: #737373; margin-left: 5%;">Database </br> Development</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation" style="margin: 0px 45px;">
                                    <button class="nav-link me-4" id="pills-web-tab" data-bs-toggle="pill" data-bs-target="#pills-web" type="button" role="tab" aria-controls="pills-web" aria-selected="false">
                                        <i class="fa fa-file" style="color: #737373;"></i>
                                        <span style="color: #737373;">Web </br> Development</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation" style="margin: 0px 45px;">
                                    <button class="nav-link me-4" id="pills-moapp-tab" data-bs-toggle="pill" data-bs-target="#pills-moapp" type="button" role="tab" aria-controls="pills-moapp" aria-selected="false">
                                        <i class="fas fa-tablet-alt me-3" style="color: #737373;"></i>
                                        <span style="color: #737373;">Mobile App </br> Development</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation" style="margin: 0px 45px;">
                                    <button class="nav-link" id="pills-uiux-tab" data-bs-toggle="pill" data-bs-target="#pills-uiux" type="button" role="tab" aria-controls="pills-uiux" aria-selected="false">
                                        <i class="fas fa-vector-square me-2" style="color: #737373;"></i>
                                        <span style="color: #737373;">UI/UX </br> Design</span>
                                    </button>
                                </li>   
                                <li class="nav-item" role="presentation" style="margin: 0px 45px;">
                                    <button class="nav-link" id="pills-cloud-tab" data-bs-toggle="pill" data-bs-target="#pills-cloud" type="button" role="tab" aria-controls="pills-cloud" aria-selected="false">
                                        <i class="fas fa-vector-square me-2" style="color: #737373;"></i>
                                        <span style="color: #737373;">Cloud </br> Development</span>
                                    </button>
                                </li>  
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-sql-tab">
                            <div class="tab-content-wrapper pt-60">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="trending-hover">
                                            <div class="row">
                                                <a class="trending-box col-3" href="/lan?lan=sqlserver" style="box-shadow: 0 1px 0 transparent;min-height: 98px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/MsSqlServer.png" style="width: 100%;object-fit: cover;" alt="MsSqlServer Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=mysql" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/MySQL.png" style="width: 100%;object-fit: cover;" alt="MsSql Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=mongodb" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/MongoDB.png" style="width: 100%;object-fit: cover;" alt="MongoDB Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=postgresql" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/PostgreSQL.png" style="width: 100%;object-fit: cover;" alt="PostgreSQL Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=powerbi" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/PowerBI.png" style="width: 100%;object-fit: cover;" alt="PowerBI Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=ssrs" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/SSRS.png" style="width: 100%;object-fit: cover;" alt="SSRS Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=ssis" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/SSIS.png" style="width: 100%;object-fit: cover;" alt="SSIS Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><img src="\img\database.jpg" class="img-fluid" alt="Mobile Apps " /></div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-web" role="tabpanel" aria-labelledby="pills-web-tab">
                            <div class="tab-content-wrapper pt-60">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="trending-hover">
                                            <div class="row">
                                                <a class="trending-box col-3" href="/lan?lan=aspdotnet" style="box-shadow: 0 1px 0 transparent;min-height: 98px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/AspDotNet.png" style="width: 100%;object-fit: cover;" alt="AspDotNet Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=aspdotnetcore" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/DotNetCore.png" style="width: 100%;object-fit: cover;" alt="DotNetCore Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=angular" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/AngularJs.png" style="width: 100%;object-fit: cover;" alt="AngularJs Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=node" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/NodeJs.png" style="width: 100%;object-fit: cover;" alt="NodeJs Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=magento" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Magento.png" style="width: 100%;object-fit: cover;" alt="Magento Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=wordpress" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Wordpress.png" style="width: 100%;object-fit: cover;" alt="SSRS Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=ecommerce" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/eCommerce.png" style="width: 100%;object-fit: cover;" alt="eCommerce Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=java" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Java.png" style="width: 100%;object-fit: cover;" alt="Java Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=php" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/PHP.png" style="width: 100%;object-fit: cover;" alt="PHP Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><img src="\img\web.png" class="img-fluid" alt="Mobile Apps " /></div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-moapp" role="tabpanel" aria-labelledby="pills-moapp-tab">
                            <div class="tab-content-wrapper pt-60">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="trending-hover">
                                            <div class="row">
                                                <a class="trending-box col-3" href="/lan?lan=android" style="box-shadow: 0 1px 0 transparent;min-height: 98px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Android.png" style="width: 100%;object-fit: cover;" alt="Android Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=ios" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/ios.png" style="width: 100%;object-fit: cover;" alt="ios Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=ionic" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Ionic.png" style="width: 100%;object-fit: cover;" alt="Ionic Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=xamarin" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Xamarin.png" style="width: 100%;object-fit: cover;" alt="Xamarin Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=react" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/ReactNative.png" style="width: 100%;object-fit: cover;" alt="ReactNative Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=kotlin" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Kotlin.png" style="width: 100%;object-fit: cover;" alt="Kotlin Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=flutter" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Flutter.png" style="width: 100%;object-fit: cover;" alt="Flutter Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=java" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/Java.png" style="width: 100%;object-fit: cover;" alt="Java Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=php" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/PHP.png" style="width: 100%;object-fit: cover;" alt="PHP Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><img src="\img\moapp.png" class="img-fluid" alt="Mobile Apps " /></div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-uiux" role="tabpanel" aria-labelledby="pills-uiux-tab">
                            <div class="tab-content-wrapper pt-60">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="trending-hover">
                                            <div class="row">
                                                <a class="trending-box col-3" href="/lan?lan=uxui" style="box-shadow: 0 1px 0 transparent;min-height: 98px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/UxUi.png" style="width: 100%;object-fit: cover;" alt="UxUi Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=frontend" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/FrontEnd.png" style="width: 100%;object-fit: cover;" alt="FrontEnd Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=responsiveweb" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/ResponsiveWebDesign.png" style="width: 100%;object-fit: cover;" alt="ResponsiveWebDesign Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=mobileapp" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/MobileAppDesign.png" style="width: 100%;object-fit: cover;" alt="MobileAppDesign Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><img src="\img\uiux.png" class="img-fluid" alt="Mobile Apps " /></div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-cloud" role="tabpanel" aria-labelledby="pills-cloud-tab">
                            <div class="tab-content-wrapper pt-60">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="trending-hover">
                                            <div class="row">
                                                <a class="trending-box col-3" href="/lan?lan=" style="box-shadow: 0 1px 0 transparent;min-height: 98px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/UxUi.png" style="width: 100%;object-fit: cover;" alt="UxUi Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/FrontEnd.png" style="width: 100%;object-fit: cover;" alt="FrontEnd Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-left: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/ResponsiveWebDesign.png" style="width: 100%;object-fit: cover;" alt="ResponsiveWebDesign Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                                <a class="trending-box col-3" href="/lan?lan=" style="box-shadow: 0 1px 0 transparent;min-height: 98px;margin-top: 20px;text-decoration: none;border: 1px solid #ddd;padding: 6px 20px;" >
                                                    <div class="text-and-title d-flex align-items-center">
                                                        <div class="service_icon"><img src="img/slide_img/MobileAppDesign.png" style="width: 100%;object-fit: cover;" alt="MobileAppDesign Development"/></div>
                                                        <!-- <h5>Android Development</h5> -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><img src="\img\uiux.png" class="img-fluid" alt="Mobile Apps " /></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- taech tabs end -->
        <!-- app two feature three start -->
        <section class="services-icon ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center">
                            <h2>DataEvol Tech Stacks</h2>
                            <p>
                                Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone web-readiness.
                            </p>
                        </div>
                        ,
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100" data-aos="fade-up" data-aos-delay="50">
                            <div class="swiper testimonialThreeSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=aspdotnet" class="article-img">
                                                    <img src="/img/slider_img_lan/aspNet.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">ASP.NET Development</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Microsoft .NET framework is the most flexible, secure and robust software development environment which supports multiple programming languages and libraries for developing all scale applications sufficing the business needs.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        ASP.NET is a powerful web development framework by Microsoft, enabling the creation of dynamic and scalable web applications. With support for various languages and a modular MVC architecture, it streamlines development. Its integration with Microsoft technologies, extensive tools, and cross-platform capabilities make ASP.NET a preferred choice for building modern web solutions.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=angular" class="article-img">
                                                    <img src="/img/slider_img_lan/anguler.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">Anguler</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the template language and it allows for the extension of HTML's syntax to convey the application's components effortlessly. Angular makes much of the code you would otherwise have to write completely redundant.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Angular is a popular open-source web application framework developed by Google. It simplifies front-end development by providing a structured framework for building dynamic and responsive single-page applications. Leveraging TypeScript, Angular offers a modular architecture, dependency injection, and powerful features like two-way data binding, making it an efficient choice for web developers.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=ionic" class="article-img">
                                                    <img src="/img/slider_img_lan/ionic.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">Ionic</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the template language and it allows for the extension of HTML's syntax to convey the application's components effortlessly. Angular makes much of the code you would otherwise have to write completely redundant.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Ionic is a cross-platform mobile app development framework that utilizes web technologies like HTML, CSS, and JavaScript. It allows developers to build high-performance mobile applications for iOS, Android, and the web using a single codebase. With a focus on simplicity and speed, Ionic facilitates the creation of engaging and interactive mobile experiences.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=frontend" class="article-img">
                                                    <img src="/img/slider_img_lan/frontEnd.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">HTML/CSS Development</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">AngularJS is a structural framework for dynamic web apps. With AngularJS, designers can use HTML as the template language and it allows for the extension of HTML's syntax to convey the application's components effortlessly. Angular makes much of the code you would otherwise have to write completely redundant.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        HTML/CSS development forms the backbone of web design, enabling the creation of visually appealing and structured websites. HTML (Hypertext Markup Language) defines the structure and content, while CSS (Cascading Style Sheets) controls the presentation, layout, and styling. Together, they provide a foundation for building user-friendly and aesthetically pleasing web pages.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=ssis" class="article-img">
                                                    <img src="/img/slider_img_lan/ssis.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">SSIS Development</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Using SSIS, MagnusMinds Solutions can help you implement an appropriate information management foundation that can deliver integrated, accurate, and timely data across your organization. Our data management solutions help ensure you provide trusted data in the areas of business intelligence, data warehousing, data migration, and master data management.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        SQL Server Integration Services (SSIS) is a robust data integration and ETL (Extract, Transform, Load) tool by Microsoft. It facilitates the extraction, transformation, and loading of data from various sources to destinations, enabling seamless data integration across diverse platforms. SSIS plays a crucial role in managing and automating data workflows within organizations.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=ssrs" class="article-img">
                                                    <img src="/img/slider_img_lan/ssrs.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">SSRS Development</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">DataEvol offers SQL Server Reporting Services (SSRS) consulting services to help you empower your users to make effective, informed decisions based on trusted data and delivered in formats appropriate for the user.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        SQL Server Reporting Services (SSRS) is a Microsoft tool for creating, managing, and delivering interactive, tabular, and graphical reports. Integrated with Microsoft SQL Server, SSRS simplifies data visualization and report generation, offering a versatile solution for businesses to analyze and present data in a meaningful way for informed decision-making.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/lan?lan=mobileapp" class="article-img">
                                                    <img src="/img/slider_img_lan/aws.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <h4><a href="javascript:;" class="d-inline-block badge bg-secondary text-black">DevOps Development</a></h4>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">DevOps teams focus on standardizing development environments and automating delivery processes to improve delivery predictability, efficiency, security and maintainability.</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        DevOps development is a collaborative approach that integrates software development and IT operations. It emphasizes automation, continuous integration, and continuous delivery to enhance efficiency and shorten development cycles. By fostering communication and shared responsibility, DevOps aims to deliver high-quality software rapidly, meeting the demands of today's agile development environments.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- app two feature three end -->
        <!--open jobs section start-->
        <section id="open-positions" >
            <div class="container">
                <!-- <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">Our Strategy</h4>
                            <h2>How </br>We </br>Works!</h2>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <p>Phosfluorescently disintermediate revolutionary paradigms before enabled interfaces. Dynamically transition skills vis-a-vis virtual customer service via impactful partnerships with technically sound paradigms with cutting-edge initiatives. </p>
                    </div>
                </div> -->


                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center">
                            <h2>How We Works!</h2>
                            <p>
                                Phosfluorescently disintermediate revolutionary paradigms before enabled interfaces. Dynamically transition skills vis-a-vis virtual customer service via impactful partnerships with technically sound paradigms with cutting-edge initiatives. 
                            </p>
                        </div>
                    </div>
                </div>



                <div class="row justify-content-center" style="height: 100%;">
                    <div class="col-lg-3 col-md-12 ">
                        <button class="custom-btn btn-16">
                            <h3 class="h5" style="text-align: center;">Analyze</h3>
                            <p>Analyzing in IT involves systematically examining data, processes, or systems to gain insights and make informed decisions.</p>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-12 text-center">
                        <button class="custom-btn btn-16">
                            <h3 class="h5" style="text-align: center;">Advise</h3>
                            <p>Providing expert guidance on technology solutions, best practices, and risk mitigation to optimize IT performance and achieve organizational objectives.</p>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-12 text-center">
                        <button class="custom-btn btn-16">
                            <h3 class="h5" style="text-align: center;">Strategy</h3>
                            <p>Developing comprehensive plans to align technology initiatives with business goals, ensuring efficient resource utilization and sustainable growth in IT environments.</p>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-12 text-center">
                        <button class="custom-btn btn-16">
                            <h3 class="h5" style="text-align: center;">Result</h3>
                            <p>Measuring and evaluating the outcomes of IT strategies, initiatives, and projects to demonstrate success, enhance efficiency, and drive continuous improvement in organizational IT performance.</p>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!--open jobs section end-->
        <!-- app two customer review start -->
        <section class="brand-logo ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10">
                        <div class="section-heading text-center">
                            <h2>Over 500+ Companies Trusted Us</h2>
                            <p>Over 500+ Companies Trusted Us</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="brand-logo-grid list-unstyled">
                        <li class="bg-white">
                            <img src="/img/brand-logo/1-2.png" alt="brand logo" />
                        </li>
                        <li class="bg-white">
                            <img src="/img/brand-logo/2-1.png" alt="brand logo" />
                        </li>
                        <li class="bg-white">
                            <img src="/img/brand-logo/3-1.png" alt="brand logo" />
                        </li>
                        <li class="bg-white">
                            <img src="/img/brand-logo/4-1.png" alt="brand logo" />
                        </li>
                        <li class="bg-white">
                            <img src="/img/brand-logo/5-1.png" alt="brand logo" />
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- app two customer review end -->
        <!--Testimonial  start -->
        <section class="testimonial-section bg-light-subtle ptb-120">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center" data-aos="fade-up">
                            <h4 class="h5">Testimonial</h4>
                            <h2>Whats Clients Say</h2>
                            <p>
                                Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone web-readiness.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100" data-aos="fade-up" data-aos-delay="50">
                            <div class="swiper testimonialThreeSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/blog_single" class="article-img">
                                                    <img src="/img/blog/blog-1.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <a href="javascript:;" class="d-inline-block text-warning badge bg-warning-soft">Design</a>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Do you really understand the concept of product value?</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                                        more and more.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/blog_single" class="article-img">
                                                    <img src="/img/blog/blog-1.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <a href="javascript:;" class="d-inline-block text-warning badge bg-warning-soft">Design</a>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Do you really understand the concept of product value?</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                                        more and more.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/blog_single" class="article-img">
                                                    <img src="/img/blog/blog-1.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <a href="javascript:;" class="d-inline-block text-warning badge bg-warning-soft">Design</a>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Do you really understand the concept of product value?</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                                        more and more.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/blog_single" class="article-img">
                                                    <img src="/img/blog/blog-1.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <a href="javascript:;" class="d-inline-block text-warning badge bg-warning-soft">Design</a>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Do you really understand the concept of product value?</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                                        more and more.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="single-article rounded-custom mb-4 mb-lg-0">
                                                <a href="/blog_single" class="article-img">
                                                    <img src="/img/blog/blog-1.jpg" alt="article" class="img-fluid">
                                                </a>
                                                <div class="article-content p-4">
                                                    <div class="article-category mb-4 d-block">
                                                        <a href="javascript:;" class="d-inline-block text-warning badge bg-warning-soft">Design</a>
                                                    </div>
                                                    <a href="/blog_single">
                                                        <h2 class="h5 article-title limit-2-line-text">Do you really understand the concept of product value?</h2>
                                                    </a>
                                                    <p class="limit-2-line-text">
                                                        Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                                        more and more.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial end -->
        <!--blog section start-->
        <!-- <section class="home-blog-section ptb-120 ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="text-primary h5">Blog</h4>
                            <h2>Our Latest News and Update</h2>
                            <p>Assertively maximize cost effective methods of iterate team driven manufactured products through equity invested via customized benefits. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-article rounded-custom mb-4 mb-lg-0">
                            <a href="/blog_single" class="article-img">
                                <img src="/img/blog/blog-1.jpg" alt="article" class="img-fluid">
                            </a>
                            <div class="article-content p-4">
                                <div class="article-category mb-4 d-block">
                                    <a href="javascript:;" class="d-inline-block text-warning badge bg-warning-soft">Design</a>
                                </div>
                                <a href="/blog_single">
                                    <h2 class="h5 article-title limit-2-line-text">Do you really understand the concept of product value?</h2>
                                </a>
                                <p class="limit-2-line-text">
                                    Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                    more and more.
                                </p>

                                <a href="javascript:;">
                                    <div class="d-flex align-items-center pt-4">
                                        <div class="avatar">
                                            <img src="/img/testimonial/6.jpg" alt="avatar" width="40" class="img-fluid rounded-circle me-3">
                                        </div>
                                        <div class="avatar-info">
                                            <h6 class="mb-0 avatar-name">Jane Martin</h6>
                                            <span class="small fw-medium text-muted">April 24, 2021</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-article rounded-custom mb-4 mb-lg-0">
                            <a href="/blog_single" class="article-img">
                                <img src="/img/blog/blog-2.jpg" alt="article" class="img-fluid">
                            </a>
                            <div class="article-content p-4">
                                <div class="article-category mb-4 d-block">
                                    <a href="javascript:;" class="d-inline-block text-primary badge bg-primary-soft">Customer</a>
                                </div>
                                <a href="/blog_single">
                                    <h2 class="h5 article-title limit-2-line-text">Why communities help you build better products for your business</h2>
                                </a>
                                <p class="limit-2-line-text">
                                    Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                    more and more.
                                </p>

                                <a href="javascript:;">
                                    <div class="d-flex align-items-center pt-4">
                                        <div class="avatar">
                                            <img src="/img/testimonial/1.jpg" alt="avatar" width="40" class="img-fluid rounded-circle me-3">
                                        </div>
                                        <div class="avatar-info">
                                            <h6 class="mb-0 avatar-name">Veronica P. Byrd</h6>
                                            <span class="small fw-medium text-muted">April 24, 2021</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-article rounded-custom mb-4 mb-lg-0 mb-md-0">
                            <a href="/blog_single" class="article-img">
                                <img src="/img/blog/blog-3.jpg" alt="article" class="img-fluid">
                            </a>
                            <div class="article-content p-4">
                                <div class="article-category mb-4 d-block">
                                    <a href="javascript:;" class="d-inline-block text-danger badge bg-danger-soft">Development</a>
                                </div>
                                <a href="/blog_single">
                                    <h2 class="h5 article-title limit-2-line-text">Why communities help you build better products</h2>
                                </a>
                                <p class="limit-2-line-text">
                                    Society is fragmenting into two parallel realities. In one reality, you have infinite upside and opportunity. In the other reality, youll continue to see the gap between your standard of living and those at the top grow
                                    more and more.
                                </p>

                                <a href="javascript:;">
                                    <div class="d-flex align-items-center pt-4">
                                        <div class="avatar">
                                            <img src="/img/testimonial/3.jpg" alt="avatar" width="40" class="img-fluid rounded-circle me-3">
                                        </div>
                                        <div class="avatar-info">
                                            <h6 class="mb-0 avatar-name">Martin Gilbert</h6>
                                            <span class="small fw-medium text-muted">April 24, 2021</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="text-center mt-5">
                        <a href="blog.html" class="btn btn-primary">View All Article</a>
                    </div>
                </div>
            </div>
        </section> -->
        <!--blog section end-->
        <!--footer section start-->
        <!--footer section start-->

        <%- include('footer') %>

        <!--footer section end-->
        <!--footer section end-->
    </div>


    <!--build:js-->
    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/swiper-bundle.min.js"></script>
    <script src="/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="/js/vendors/parallax.min.js"></script>
    <script src="/js/vendors/aos.js"></script>
    <script src="/js/vendors/massonry.min.js"></script>
    <script src="/js/app.js"></script>
    <!--endbuild-->
</body>

</html>